/*Подключение шрифтов*/
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('fonts/Poppins-Regular.otf');
    src: url('fonts/Poppins-Medium.otf');
    src: url('fonts/Poppins-SemiBold.otf');
    src: url('fonts/Poppins-Bold.otf');
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    font-weight: normal;
    font-size: normal;
}
/*Переменные*/
:root{
    --main-color: #0d81ec;
    --dark-color: #1b182b;
    --light-color: #322f40;
    --text-color: hsl(0, 0%, 91%);
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
    background: var(--dark-color);
}